
*{
    padding: 0;

}
#cuerpo{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    margin: 0 auto;
}
#encabezado{
    height: 15%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(18, 59, 18);
}
#navegacion{
    height: 5%;
    margin: 0 auto;
    background-color: rgb(149, 145, 145);

}
#seccion{
    height: 70%;
    display: block;
    margin: 0 auto;
    background-color: rgb(191, 188, 188);
    
}
#reseña{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
    font-size: 2px;
}
#pie{
    height: 10%;
    background-color: rgb(90, 33, 33);
}
#imagenes{
 margin-left: 20%;
}

#imagen{
    margin-left: 15px;
    display: block ;
    padding: 1px;
    display: inline-block;
}
.nombre{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;

}


.titulos{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.titulos2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;  
}
.textoP{
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
   
}


.imagen1{
    border: 1px solid green;
}
.imagen2{
    border: 1px solid white;
}
.imagen3{
    border:1px solid red;
}


small{
    
    display: block; 
    margin-left:3em;
     
     color: white;

}
img{
    width: 100px;
    height: 100px;   
    display: inline-block;
    padding: 1px;
}
ul{
    text-align: center;

}
a{
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;
    
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    outline: none;
    text-decoration: none;
}
